# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Public-Health-Scotland/list-locality-profiles will be requested for
# review when someone opens a pull request.
* @Public-Health-Scotland/list-locality-profiles

# GitHub infrastructure - James
/.github/ @moohan
/README.md @moohan
/LICENSE @moohan
/.lintr @moohan
/.all-contributorsrc @moohan

# Top-level
/.Rprofile @moohan
/Build\ Profiles.R @moohan
/Create\ Testing\ Chapter.R @RyanDuffy01

# Build / Render / Release
/Master\ RMarkdown\ Document\ &\ Render\ Code/ @moohan
/final_copying/ @moohan
/Master\ RMarkdown\ Document\ &\ Render\ Code/make_sdc_output.R @Cfraser2020

# Demographics - Ryan
/Demographics/ @RyanDuffy01
/lp_bookdown/Demographics.Rmd @RyanDuffy01

# General Health - Clive (with James)
/General\ Health/ @moohan @CliveWG
/lp_bookdown/General-Health.Rmd @moohan @CliveWG

# Housing - Khansa
/Households/ @khansh01
/lp_bookdown/Housing.Rmd @khansh01

# Lifestyle & Risk Factors - Clive
/Lifestyle\ &\ Risk\ Factors/ @CliveWG
/lp_bookdown/Lifestyle-Risk-Factors.Rmd @CliveWG

# Services - Ryan
/Services/ @RyanDuffy01
/lp_bookdown/Services.Rmd @RyanDuffy01

# Hospital & Community Care (Unscheduled Care) - Craig
/Unscheduled\ Care/ @Cfraser2020
/lp_bookdown/Unscheduled-Care.Rmd @Cfraser2020

# Bookdown - Ryan
/lp_bookdown/*.yaml  @RyanDuffy01
/lp_bookdown/index.Rmd @RyanDuffy01
